* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #212121;
    border-bottom: 1px solid #F4F4F4;
}

#custom-launcher {
    background: none;
    color: #F4F4F4;
    font-size: 17px;
}

#window {
    background: none;
    color: #FFFFFF;
}

#workspaces button {
    background: none;
    color: #FFFFFF;
}

#cpu { 
    background: none;
    color: #FFFFFF;
}

#memory {
    background: none;
    color: #FFFFFF;
}

#temperature {
    background: none;
    color: #FFFFFF;
}

#network {
    background: none;
    color: #FFFFFF;
}

#pulseaudio {
    background: none;
    color: #FFFFFF;
}

#clock {
    background: none;
    color: #FFFFFF;
}

#custom-power {
    background: none;
    color: #B3966F;
    font-size: 19px;
}

#disk {
    background: none;
    color: #FFFFFF;
}
